// For Professor - Phase 3, 4
.white-well.clearfix
  - var phase = 3
  if phase == 3
    .legend 实习职位确认
    .alert.alert-info
      | 下表列出了您发布的所有实习实训职位信息，
      | 点击条目查看志愿实习的学生，
      | 您可以在这里通过学生的实习申请
      br
      span.label.label-info 提示
      |  对于本阶段空缺的职位，
      |  可以在下一个阶段选择学生进行调剂
  else if phase == 4
      .legend 实习职位调剂
      .alert.alert-info
        | 以下是您名下所有职位，
        | 您可以为未满员的职位指定学生进行

  table.table.table-bordered.table-striped.table-hover
    colgroup
      col.span6
      col.span2
      col.span2
      col.span2
    thead
      tr
        th 职务
        th 导师
        th 人数
        th 发布日期
    tbody
      - var position = [{
      - company: {
      -   name: "XXXX公司"
      - },
      - title: "攻城师",
      - applied: [{realname: "路人甲", _id: "UserXXX"}],
      - need: 8,
      - created_at_str: "2014-02-03",
      - creator: {
      -   realname: "厉害的导师"
      - },
      - }];
      each i in position
        tr
          td #{i.company.name} - #{i.title}
          td #{i.creator.realname}
          td #{i.applied.length} / #{i.need}
          td #{i.created_at_str}
            i.icon-chevron-right.pull-right
