// For Student - Phase 2, Professor - Phase 2, 3, 4
.position-view.white-well.clearfix
  .legend 职位信息
  table.table.table-bordered.table-striped.table-hover
    colgroup
      col.span6
      col.span6
    tbody
      tr
        td(colspan="2") 
          h4 基本信息
      tr
        td 职位名称
        td #{title}
      tr
        td 所在部门
        td #{department}
      tr
        td 招工人数
        td #{need}
      tr
        td 薪资水平
        td #{salary}
      tr
        td 描述
        td #{description}
      tr
        td(colspan="2") 
          h4 企业导师信息
      tr
        td 姓名
        td #{tutor.name}
      tr
        td 性别
        td #{tutor.gender}
      tr
        td 职务
        td #{tutor.title}
      tr
        td 电话
        td #{tutor.phone}
      tr
        td E-mail
        td #{tutor.email}
      tr
        td(colspan="2") 
          h4 公司信息
      tr
        td 公司名称
        td #{company.name}
      tr
        td 公司首页
        td #{company.website}
      if phase == 3
        tr
          td 申请人
          td#job-appliers
            a(href="#") 张三
            | &nbsp;
            a(href="#") 李四
            | &nbsp;
            a(href="#") 王五
            | &nbsp;
            a(href="#") 马六
      if phase == 4
        tr
          td 可调剂
          td#job-adjust
            a(href="#") 路人甲
            | &nbsp;
            a(href="#") 路人一
            | &nbsp;
            a(href="#") 路人丙
            | &nbsp;
            a(href="#") 路人丁
      tr
        td 已确认
        if phase == 3
          td#job-enrolled
        if phase == 4
          td#job-enrolled
            a(href="#") 张三
            | &nbsp;
            a(href="#") 李四
            | &nbsp;
            a(href="#") 王五
  .btn-toolbar.pull-right
    if phase == 3 || phase == 4
      button.btn.btn-primary.btn-large 保存
    button.btn.btn-large 关闭

