#dashboard.row-fluid
  .sidebar.span4.white-well
    .announce.alert.alert-success
      h4 系统公告
      | 暂无系统公告
    .profile.row-fluid
      .photo.span6
        img.img-polaroid(src="#{profile.photo}")
      .profile-text.span6
        div(data-label="姓名") #{profile.realname}
        div(data-label="编号") #{profile.id}
        div(data-label="电话") #{profile.phone}
        div(data-label="邮箱") #{profile.email}
    .logout
      a.btn.btn-inverse.btn-normal(href="#login") 注销
    ul.nav.nav-list
      li.nav-header 位置
      li#nav-home.active: a(href="#dashboard/home")
        i.icon-home
        | 首页
      li#nav-position: a(href="#dashboard/position")
        i.icon-th-list
        | 实习职位
      li#nav-student: a(href="#dashboard/student")
        i.icon-user
        | 学生管理
      li#nav-intern: a(href="#dashboard/intern")
        i.icon-star
        | 实习信息
      li#nav-setting: a(href="#dashboard/setting")
        i.icon-cog
        | 设置
      li.divider.hide
      li#nav-help.hide: a(href="#dashboard/help")
        i.icon-book
        | 使用手册

  .span8
    include schedule
    #task-panel
      include dashboard/home

