#schedule.white-well.clearfix
  .offset1.span3
    h4 系统进度
  .span8
    .btn-group(data-toggle="buttons-radio")
      for lbl, i in phases
        - var c = i + 1;
        - if(c > phase) {
          button.btn(data-label=". #{lbl}") #{c}
        - } else if(c < phase) {
          button.btn(data-label=". #{lbl}").btn-success #{c}
        - } else {
          button.btn(data-label=". #{lbl}").btn-primary.active #{c}
        - }
